<app-navbar></app-navbar>

<div class="container col-xxl-8 px-4 py-5">

<div class="row flex-lg-row align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
        <img src="./assets/zapatilla1.webp" class="card-img-top">
    </div>
    <div class="col-lg-6">
        <p class="fs-2">Zapatillas adidas Gamecourt 2</p>
        <p class="fs-3">Envio Gratis</p>
        <p class="fs-3">precio </p>
    
        <p class="fs-3"> <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected>Color</option>
            <option value="1">negro</option>
            <option value="2">blanco</option>
            <option value="3">rojo</option>
          </select></p>
    
        <p class="fs-3">    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
            <option selected>Talle</option>
            <option value="1">38</option>
            <option value="2">39</option>
            <option value="3">40</option>
          </select></p>     
          <p> <button type="button" class="btn btn-primary btn-sm">Agregar al Carrito</button></p>      

    </div>
  </div>
    <div class="row flex-lg-row align-items-center g-5 py-5">
        <h3>DESCRIPCIÓN DEL PRODUCTO</h3>
        <ul class="list-group-border-color:white">
            <li class="list-group-item">• Construida sobre una base de alto rendimiento para brindar máxima sujeción y comodidad.</li>
            <li class="list-group-item">• Con una suela exterior duradera que proporciona un agarre prolongado en superficies mojadas.</li>
            <li class="list-group-item">• Un antepié más ancho proporciona el ajuste cómodo que necesita para recorridos más largos.</li>
          </ul>
        <h3>Especificaciones</h3>
        <ul class="list-group-border-color:white">
            <li class="list-group-item">Disciplina:	TREKKING</li>
            <li class="list-group-item">Material: SINTETICO</li>
        </ul>

    </div>
  </div>

<app-footer></app-footer>