<app-navbar></app-navbar>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">tipo de cliente</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="tipoCliente">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">email</label>
  <input class="form-control" type="text" value="email" aria-label="Disabled input example" disabled readonly>
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">nombre</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">apellido</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="apellido">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">direccion</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="direccion">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">numero</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="numero">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">provincia</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="provincia">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">localidad</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="localidad">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">partido</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="partido">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">codigo Postal</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="codigoPostal">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">telefono</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="telefono">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">piso</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="piso">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">departamento</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="departamento">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">entrecalles</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="entrecalles">
</div>

<app-footer></app-footer>
